---
import Split from "../sections/Split.astro";
import wireframeImg from "../../assets/wireframe-mg.png";
---

<section>
  <Split
    heading='Text on Left'
    text='This is an example of text on the left side and the image on the right.'
    imgSrc={wireframeImg.src}
    imgAlt='Example'
    reverse={true}
  />
</section>
