---
import { t } from 'i18next';
---

<a href='doxitgmbh@gmail.com'><div class='img-wrapper'><img src='/img/icons/rent-van-icon.webp' alt='' /></div>test</a>
<style>
  a {
    width: max-content;
    display: flex;
    align-items: center;
    gap: -6px;
    background-color: var(--primary);
    color: rgb(0, 0, 0);
    padding: 0 24px;
    border-radius: var(--rounded-full);
    border: 1px solid var(--primary);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.6s ease;
  }

  a:hover {
    box-shadow: var(--primary-400) 0px 20px 30px -10px;
    border: 1px solid white;
  }

  .img-wrapper {
    display: flex;
    align-items: flex-end;
    height: 48px;
  }

  img {
    width: 76px;
    height: auto;
  }
</style>
