---
import AnimateOnScroll from '../../animations/AnimateOnScroll.astro';
---

<AnimateOnScroll animation='down-slide' delay={0.3}>
  <a href='tel:+3815435205'>
    <img src='/img/icons/regular/bi_phone-fill.svg' alt='' />
    Pozovite
  </a>
</AnimateOnScroll>

<style>
  a {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--primary);
    color: white;
    padding: 12px 24px;
    border-radius: var(--rounded-full);
    text-decoration: none;
    font-weight: 500;
    box-shadow: var(--primary-500) 0px 10px 20px -10px;
  }

  img {
    width: 20px;
    height: auto;
  }

  @media (min-width: 866px) {
    a {
      display: none;
    }
  }
</style>
