---
import Image from 'astro/components/Image.astro';
import Hero from '../components/main/Hero.astro';
import Footer from '../components/main/Footer.astro';
import Layout from '../layouts/Layout.astro';
import AnimateOnScroll from '../animations/AnimateOnScroll.astro';
import Navbar4 from '../components/navbars/Navbar4.astro';
import bgPatternBottom from '../assets/white-bg-pattern-bottom.webp';
import Menu from '../components/main/Menu.astro';
import specialLong from '../../public/img/placeholder/special-long.webp';
import specialFirst from '../../public/img/placeholder/special-1.webp';
import specialSecond from '../../public/img/placeholder/special-2.webp';
---

<Layout title='Home' metaTitle='Home' metaDescription='Home'>
  <Navbar4 />
  <Hero />
  <section class='one'>
    <AnimateOnScroll animation='up-slide'>
      <div class='wrapper-1'>
        <div class='text'>
          <h2>Specijalna Ponuda</h2>
          <p>
            Redovno pravimo specijalne ponude i akcije koje menjamo svakih 10-ak dana, kako biste uvek imali priliku da
            uživate u omiljenim jelima po povoljnijim cenama. Pratite naše aktuelne ponude, svratite do restorana ili
            poručite na vreme i iskoristite posebne akcije dok traju.
          </p>
        </div>
        <Image src={specialLong} alt='Specijalna Ponuda' class='special-long' loading='lazy' />
        <!-- <div class='card long'></div> -->
      </div>
    </AnimateOnScroll>
    <AnimateOnScroll animation='up-slide' delay={0.2}>
      <div class='cards-wrapper'>
        <Image src={specialFirst} alt='Specijalna Ponuda' class='card special' loading='lazy' />
        <Image src={specialSecond} alt='Specijalna Ponuda' class='card special' loading='lazy' />
      </div>
    </AnimateOnScroll>
    <!-- <div class='cards-wrapper'>
        <div class='card regular' id='1'>
          <div class='card-text'>
            <div class='card-heading'>
              <img src='/img/icons/fire.svg' alt='' />
              <h3>20% Sniženje Primer</h3>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, excepturi.</p>
          </div>
          <div class='cta'></div>
        </div>
        <div class='card regular' id='2'>
          <div class='card-text'>
            <div class='card-heading'>
              <img src='/img/icons/fire.svg' alt='' />
              <h3>20% Sniženje Primer</h3>
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique, excepturi.</p>
          </div>
          <div class='cta'></div>
        </div>
      </div> -->
  </section>
  <Image src={bgPatternBottom} alt='' class='bg-pattern bottom' loading='lazy' />
  <Menu />
  <Footer />
</Layout>

<style>
  section {
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: var(--y-spacing-tablet) var(--x-spacing-desktop);
  }

  section.one {
    background: url('../assets/food-bg-white-2.webp') no-repeat;
    background-size: cover;
    background-color: white; /* Fallback color */
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-600);
  }

  section.one .wrapper-1 {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  section.one .text {
    flex: 1;
  }

  .card.long {
    flex: 0 0 50%;
    height: 250px;
    margin-left: 2rem;
    border-radius: var(--rounded-xl);
    background-color: var(--secondary-600);
  }
  .cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--space-600);
    /* justify-content: space-between; */
  }

  .card {
    flex: 0 0 50%;
    height: auto;
    border-radius: var(--rounded-md);
    background-color: var(--secondary-600);
  }
  .bg-pattern.bottom {
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-top: -2px;
  }
  .side-transition-imgs {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  .side-transition-imgs .left-img,
  .side-transition-imgs .right-img {
    width: 50%;
    border-radius: 8px;
  }

  .side-transition-imgs img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
  }

  .down-under-slide-container {
    overflow: hidden;
    padding-top: 2rem;
  }

  section.two h1 {
    font-size: 5rem;
    font-weight: 500;
  }

  section.three {
    background: #f0f0f0;
  }

  section.three h1 {
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 1350px) {
    section {
      padding: var(--y-spacing-mobile) var(--x-spacing-mobile);
    }
    section.one .wrapper-1 {
      flex-direction: column;
    }

    section.one .text {
      flex: 0 0 100%;
    }

    section.one .card.long {
      /* flex: 1 1 100px; */
      width: 100%;
      margin-left: 0;
    }

    .special-long {
      width: 100%;
      height: auto;
    }

    .cards-wrapper {
      flex-direction: column;
    }

    .card {
      /* flex: 0 0 100%; */
      width: 100%;
      height: auto;
    }

    .side-transition-imgs {
      flex-direction: column;
    }
  }
</style>
