---
import Image from 'astro/components/Image.astro';
import Hero from '../components/main/Hero.astro';
import Footer from '../components/main/Footer.astro';
import Layout from '../layouts/Layout.astro';
import AnimateOnScroll from '../animations/AnimateOnScroll.astro';
import Faq1 from '../components/accordions/Faq1.astro';
import Navbar4 from '../components/navbars/Navbar4.astro';
import bgPatternBottom from '../assets/white-bg-pattern-bottom.webp';
---

<Layout title='Home' metaTitle='Home' metaDescription='Home'>
  <Navbar4 />
  <Hero />
  <section class='one'>
    <AnimateOnScroll animation='up-slide'>
      <div class='wrapper-1'>
        <div class='text'>
          <h2 class='up-slide'>Section h2</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, pariatur excepturi ut ullam optio asperiores
            voluptatum dicta numquam ex ea veniam commodi repellendus similique, accusamus ipsum! Quaerat saepe placeat
            assumenda? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique odio, doloremque impedit
            distinctio pariatur officiis possimus alias? Maxime officia, laborum assumenda reprehenderit iusto saepe
            corrupti vero earum dolor optio labore.
          </p>
        </div>
        <div class='card long'></div>
      </div>
    </AnimateOnScroll>
    <!-- <div class='container'> -->
    <div class='side-transition-imgs'>
      <div class='left-img'>
        <AnimateOnScroll animation='slide-from-left'>
          <img
            src='/img/placeholder/mockup-dark-horizontal.webp'
            alt='Placeholder Image Left'
            class='slide-from-left'
          />
        </AnimateOnScroll>
      </div>
      <div class='right-img'>
        <AnimateOnScroll animation='slide-from-right'>
          <img
            src='/img/placeholder/mockup-dark-horizontal.webp'
            alt='Placeholder Image Right'
            class='slide-from-right'
          />
        </AnimateOnScroll>
      </div>
      <!-- </div> -->
    </div>
  </section>
  <Image src={bgPatternBottom} alt='' class='bg-pattern bottom' />
  <section class='two'>
    <div class='down-under-slide-container'>
      <AnimateOnScroll animation='down-slide'>
        <h2 class='down-under-slide'>Jelovnik</h2>
      </AnimateOnScroll>
    </div>
  </section>
  <section class='three'>
    <h1>Section 3 : Faqs</h1>
    <Faq1 />
  </section>
  <section class='four'>
    <h1>Section four</h1>
  </section>
  <Footer />
</Layout>

<style>
  section {
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: var(--y-spacing-tablet) var(--x-spacing-desktop);
  }

  section.one {
    background: url('../assets/food-bg-white-2.webp') no-repeat;
    background-size: cover;
    background-color: white; /* Fallback color */
    position: relative;
    z-index: 5;
  }

  section.one .wrapper-1 {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  section.one .text {
    flex: 1;
  }

  .card.long {
    flex: 0 0 50%;
    height: 250px;
    margin-left: 2rem;
    border-radius: var(--rounded-xl);
    background-color: black;
  }
  .bg-pattern.bottom {
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-top: -2px;
  }
  .side-transition-imgs {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  .side-transition-imgs .left-img,
  .side-transition-imgs .right-img {
    width: 50%;
    border-radius: 8px;
  }

  .side-transition-imgs img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
  }

  .down-under-slide-container {
    overflow: hidden;
    padding-top: 2rem;
  }

  section.two h1 {
    font-size: 5rem;
    font-weight: 500;
  }

  section.three {
    background: #f0f0f0;
  }

  section.three h1 {
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 768px) {
  }
</style>
