---
interface Props {
  container?: boolean;
  padding?: string;
  custom?: string;
}

let { container, padding = '', custom = '' } = Astro.props;

const paddingClasses = padding
  .split(' ')
  .filter(Boolean)
  .map((p) => {
    switch (p) {
      case 'full':
        return 'padding-full';
      case 'horizontal':
        return 'padded-horizontal';
      case 'vertical':
        return 'padded-vertical';
      case 'top':
        return 'padded-top';
      case 'bottom':
        return 'padded-bottom';
      default:
        return '';
    }
  })
  .filter(Boolean)
  .join(' ');
---

<section class={`${paddingClasses} ${custom}`}>
  {
    container ? (
      <div class='container'>
        <slot />
      </div>
    ) : (
      <slot />
    )
  }
</section>

<style>
  section.padding-full {
    padding: var(--y-spacing-desktop) var(--x-spacing-desktop);
    width: 100%;
  }

  section.padded-horizontal {
    padding-left: var(--x-spacing-desktop);
    padding-right: var(--x-spacing-desktop);
    width: 100%;
  }

  section.padded-vertical {
    padding-top: var(--y-spacing-desktop);
    padding-bottom: var(--y-spacing-desktop);
    width: 100%;
  }

  section.padded-top {
    padding-top: var(--y-spacing-desktop);
  }

  section.padded-bottom {
    padding-bottom: var(--y-spacing-desktop);
  }

  .container {
    max-width: 1280px;
    margin-inline: auto;
  }

  @media (max-width: 768px) {
    section.padding-full {
      padding: var(--y-spacing-mobile) var(--x-spacing-mobile);
    }

    section.padded-horizontal {
      padding-left: var(--x-spacing-mobile);
      padding-right: var(--x-spacing-mobile);
    }

    section.padded-vertical {
      padding-top: var(--y-spacing-mobile);
      padding-bottom: var(--y-spacing-mobile);
    }

    section.padded-top {
      padding-top: var(--y-spacing-mobile);
    }

    section.padded-bottom {
      padding-bottom: var(--y-spacing-mobile);
    }

    .container {
      max-width: 90%;
    }
  }
</style>
